.login-box {
  border-radius: 2em;
  width: 80%;
}

.login-input {
  height: 30px;
  width: 150px;
  border-radius: 5em;
  border-color: gray;
  border-width: 1px;
}

.logo-img {
  width: 30%;
  border-radius: 30em;
}
