<div class="col ctr-al m-xxl">
  <h1 class="title flx1">{{pageHeader}}</h1>
  <div *ngIf="auth.isAdmin()" class="col flx2 ctr">
    <span>הלו אדמין!</span>
    <span>המפגפים הבאים:</span>
    <span>צור תוכניות חדשות!</span>
    <span>סמן שהמפגף ברשות מי שרשום למטה התקיים</span>
  </div>
  <div *ngIf="winners | async as managers">
    <app-this-week class="flx2" [currentWeekPersons]="managers[0]"></app-this-week>
  </div>
  <div class="row flx3 flx-wrap">
    <div class="flx1" *ngFor="let bubble of (bubbles | async)">
      <app-mifgaf-info [bubble]="bubble"></app-mifgaf-info>
    </div>
    <div class="flx1" *ngFor="let demoBubble of demoBubbles">
      <app-mifgaf-info [bubble]="demoBubble"></app-mifgaf-info>
    </div>
  </div>
</div>
