#containerEveningList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cotainerListAndDetails {
    display: flex;
    flex-direction: row;
}

#sectionEveningList {
    flex-grow: 1;
    flex-basis: 0;
}

#sectionEveningDetails {
    flex-grow: 1;
    flex-basis: 0;
}