<div *ngIf="displayedPart" id="cotainerListAndDetails">

    <div id="sectionEveningList"> 
        <app-evening-list (selectEveningBubbled)="onSelectEveningBubbled($event)" id="containerEveningList" [evenings]="evenings"></app-evening-list>
    </div>
    
    <div> 
        <button mat-fab color="primary" (click)="toggleDisplayedPart()"> 
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div id="sectionEveningDetails" *ngIf="selectedEvening">
        <app-evening-details [selectedEvening]="selectedEvening" (closeEveningEmittter)="onCloseEventDetails()"></app-evening-details>
    </div>
    
</div>

<app-evnings-history> </app-evnings-history>

<div  *ngIf="!displayedPart"> 
    <button mat-fab color="primary" (click)="toggleDisplayedPart()"> 
        <mat-icon>arrow_back</mat-icon>
    </button>

<app-schedual-new-evening
[events]="events$ | async"
(eventAdded)="addEvent($event)"
(eventDeleted)="deleteEvent($event)"
>
 </app-schedual-new-evening>
</div>
