<mat-tab-group [color]="'primary'"
               [backgroundColor]="'primary'"
               [style]="'tab-group'"
               class="tab-group row flx1 ctr"
               animationDuration="1000ms">
  <mat-tab label="{{tabs.OTHER}}">
    <div class="box">
      <app-others-suggestions
        [surveyOpened]="surveyOpened"
        [restaurantSurvey]="restaurantSurvey"
        [users]="users"
        (surveyOpenedEmitter)="onOpenSurvey()"
        (surveySubmittedEmitter)="onSurveySubmitted($event)"
        (surveyClosedEmitter)="onSurveyClosed()">
      </app-others-suggestions>
    </div>
  </mat-tab>
  <mat-tab label="{{tabs.SUGGESTIONS}}">
    <div class="box">
      <app-suggestions-container (addRestaurant)="onAddRestaurant($event)"
                                 class="launch-container"
                                 [restaurants]="restaurants"
                                 [filter]="suggestionsFilter"
                                 (filterChangedEmitter)="onFilterChanged($event)">
      </app-suggestions-container>
    </div>
  </mat-tab>
</mat-tab-group>
