<mat-tab-group [color]="'primary'"
               [backgroundColor]="'primary'"
               [style]="'tab-group'"
               class="tab-group p-l"
               animationDuration="1000ms">
  <mat-tab label="{{tabs.OTHER}}">
    <app-others-suggestions
      class="col flx1 mt-l"
      [surveyOpened]="surveyOpened"
      [restaurants]="restaurants"
      [restaurantSurvey]="restaurantSurvey"
      [users]="users"
      (surveyOpenedEmitter)="onOpenSurvey()"
      (surveySubmittedEmitter)="onSurveySubmitted($event)"
      (surveyClosedEmitter)="onSurveyClosed()">
    </app-others-suggestions>
  </mat-tab>
  <mat-tab label="{{tabs.SUGGESTIONS}}">
    <app-suggestions-container class="col flx1 mt-l"
                               [restaurants]="restaurants"
                               [filter]="suggestionsFilter"
                               (addRestaurant)="onAddRestaurant($event)"
                               (filterChangedEmitter)="onFilterChanged($event)">
    </app-suggestions-container>
  </mat-tab>
</mat-tab-group>
