<mat-card class="example-card">
    

    <mat-card-content>
            <h2>{{selectedEvening.title}}</h2>
        
        <div id="containerSelectedEvening">
            <h2>{{selectedEvening.content}}</h2>
            <button id="buttonCloseEvening" (click)="closeEveningDetails()">Close</button>
        </div>
    </mat-card-content>
    <div *ngFor="let image of selectedEvening.images">
        <img class="image-card" mat-card-image src={{image}} alt="Photo of a past evening event">
    </div>
</mat-card>