<div class="col restaurant">
  <div class="row minimize-restaurant clickable" (click)="toggleRestaurantFullData()">
    <div>{{restaurant.name}}</div>
    <div>{{restaurant.address}}</div>
    <div>{{restaurant.type}}</div>
  </div>
  <div *ngIf="shouldDisplayFullData" class="full-restaurant">
    <mat-checkbox class="checkbox-margin" [(ngModel)]="restaurant.isHvr" [disabled]="true">חבר</mat-checkbox>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="restaurant.isKosher" [disabled]="true">כשר</mat-checkbox>
  </div>
</div>
