<div class="col restaurant">
  <div class="row minimize-restaurant clickable" (click)="toggleRestaurantFullData()">
    <div class="flx1 ctr minimized-item">{{restaurant.name}}</div>
    <div class="flx1 ctr minimized-item">{{restaurant.address}}</div>
    <div class="flx1 ctr minimized-item">{{restaurant.type}}</div>
  </div>
  <div *ngIf="shouldDisplayFullData col" class="full-restaurant">
    <mat-checkbox class="checkbox-margin" [(ngModel)]="restaurant.isHvr" [disabled]="true">חבר</mat-checkbox>
    <mat-checkbox class="checkbox-margin" [(ngModel)]="restaurant.isKosher" [disabled]="true">כשר</mat-checkbox>
    <ngx-star-rating [id]="restaurant.id" [(ngModel)]="restaurant.rank" [disabled]="true"></ngx-star-rating>
    <button mat-raised-button>הוסף לרשימה</button>
  </div>
</div>
