.restaurant {
  border: 1px solid black;
  padding: 5px 20px;
  margin-top: 5px;
  border-radius: 10px;
}

.minimized-item {
  justify-self: center;
}

.full-restaurant {
  align-self: center;
  margin: 10px 0 5px 0;
  text-align: center;
}

.checkbox-margin {
  margin: 0 10px;
}

