<div *ngIf="launchLocation === launchLocations.notSelected" class="row flx1">
  <button mat-button
          class="button-style"
          (click)="chooseLocation(launchLocations.restaurant)">
    {{restaurantLocationButton}}
  </button>
  <button mat-button
          class="button-style"
          (click)="chooseLocation(launchLocations.diningRoom)">
    {{diningRoomLocationButton}}
  </button>
</div>
<button mat-button
        class="button-style"
        (click)="chooseLocation(launchLocations.notSelected)">
  {{changeSelectionButton}}
</button>
<app-dining-room *ngIf="launchLocation === launchLocations.diningRoom"></app-dining-room>
<app-restaurant-launch *ngIf="launchLocation === launchLocations.restaurant"></app-restaurant-launch>




