<div *ngIf="launchLocation === launchLocations.notSelected" class="main-buttons row">
  <button mat-button
          class="button-style flx1 f-l"
          (click)="chooseLocation(launchLocations.diningRoom)">
    {{diningRoomLocationButton}}
  </button>
  <button mat-button
          class="button-style flx1 f-l"
          (click)="chooseLocation(launchLocations.restaurant)">
    {{restaurantLocationButton}}
  </button>
</div>
<div *ngIf="launchLocation !== launchLocations.notSelected" class="col p-s">
  <button mat-button
          class="button-style change-selection-button"
          (click)="chooseLocation(launchLocations.notSelected)">
    {{changeSelectionButton}}
  </button>
  <app-dining-room *ngIf="launchLocation === launchLocations.diningRoom" class="col overflow m-m"></app-dining-room>
  <app-restaurant-launch *ngIf="launchLocation === launchLocations.restaurant"
                         class="col overflow m-m"
                         [connectedUser]="connectedUser$ | async"
                         [restaurants]="restaurants$ | async"
                         [suggestionsFilter]="suggestionsFilter$ | async"
                         [surveyOpened]="surveyOpened$ | async"
                         [restaurantSurvey]="restaurantSurvey$ | async"
                         [users]="users$ | async"
                         (addRestaurantEmitter)="addRestaurant($event)"
                         (filterChangedEmitter)="onFilterChanged($event)"
                         (surveyOpenedEmitter)="onOpenSurvey()"
                         (surveySubmittedEmitter)="onSurveySubmitted($event)">
  </app-restaurant-launch>
</div>
