:host {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  align-items: center;
  justify-content: center;
}

.home-button {
  width: 40%;
  padding: 20px;
  margin: 20px;
  font-weight: bold;
  color: #ffffff;
  background-image: linear-gradient(to right, #dac5d3, #7fd9ec);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 22px;
}

.home-button:hover {
  background-image: linear-gradient(to right, #30da0c, #2a1cec);
  text-decoration: underline;
}
