<div ngSwitch="{{chartType}}">
  <ngx-charts-pie-chart *ngSwitchCase="chartTypes.pie"
                        class="flx1"
                        [results]="chartData"
                        [view]="chartSizes"
                        [scheme]="colorScheme"
                        [gradient]="false"
                        [legend]="false"
                        [labels]="true"
                        [doughnut]="false"
                        (select)="onSelect($event)">
  </ngx-charts-pie-chart>
</div>
