<div class="col ctr">
  <app-lunch-survey *ngIf="surveyOpened"
                    [restaurants]="restaurants"
                    (submit)="onSurveySubmitted($event)"
                    (close)="onSurveyClosed()">
  </app-lunch-survey>
  <button mat-button
          *ngIf="!surveyOpened"
          class="button-style"
          (click)="onOpenSurvey()">
    פתח סקר
  </button>
  <app-restaurant-chart
    [restaurants]="restaurants"
    [restaurantSurvey]="restaurantSurvey"
    [users]="users">
  </app-restaurant-chart>
</div>
