<div *ngIf="!surveyOpened" class="col ctr">
  <span class="survey-not-opened"> אחרים עדיין לא הציעו מסעדות לאכול בהם היום !! </span>
  <button mat-button
          class="button-style"
          (click)="onOpenSurvey()">
    פתח סקר
  </button>
</div>
<div *ngIf="surveyOpened">
  <app-lunch-survey [restaurants]="restaurants"
                    (submit)="onSurveySubmitted($event)"
                    (close)="onSurveyClosed()">
  </app-lunch-survey>
  <app-restaurant-chart
    [restaurants]="restaurants"
    [restaurantSurvey]="restaurantSurvey"
    [users]="users">
  </app-restaurant-chart>
</div>
