<div class="col">
  <mat-form-field style="text-align: right">
    <mat-label>{{question.label}}</mat-label>
    <mat-select style="text-align: center" [formControl]="toppings" multiple>
      <mat-select-trigger>
        {{toppings.value ? toppings.value[0] : ''}}
        <span *ngIf="toppings.value?.length > 1" class="additional-selection">
        ({{toppings.value.length - 1}}+ {{toppings.value?.length === 2 ? 'נוספת' : 'נוספות'}})
      </span>
      </mat-select-trigger>
      <mat-option style="text-align: right"
                  *ngFor="let option of question.options"
                  [value]="option.value">
        {{option.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span class="f-w-b"> ** ניתן להוסיף מסעדות חדשות דרך הטאב "אני רוצה להציע" </span>
  <div class="form-row pt-l spec">
    <button mat-button
            class="button-style"
            type="submit"
            [disabled]="!toppings.value || !toppings.value.length"
            (click)="onSave()">
      הוסף
    </button>
    <button mat-button
            class="button-style"
            type="button"
            (click)="onClose()">
      בטל
    </button>
  </div>
</div>
