<div class="col vh-l vw-l">
  <div class="menu">
    <div class="menu-info">
      <div class="menu-route-side">
        <button mat-button #a
                class="button-style"
                *ngFor="let rout of routOptions"
                [disabled]="!authService.isLoggedIn"
                [routerLinkActive]="rout.activeButtonStyle"
                routerLink="/{{rout.routerLink}}">
          {{rout.buttonText}}
        </button>
      </div>
      <div *ngIf="authService.isLoggedIn" class="menu-connected-user-side row">
        <div *ngIf="connectedUser | async as user"
             class="connected-user">
          {{connectedUserText}} {{user.displayName}}
        </div>
        <button mat-button
                class="button-style"
                (click)="authService.SignOut()">
          {{disconnectButtonText}}
        </button>
        <button mat-button
                *ngIf="authService.isAdmin()"
                class="disconnect-button-style"
                routerLink="/admin">{{adminButtonText}}
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
