<div class="col vh-l vw-l">
  <div class="menu row">
    <div class="row flx1">
      <button mat-button
              *ngFor="let rout of routOptions"
              [routerLinkActive]="rout.activeButtonStyle"
              routerLink="/{{rout.routerLink}}">
        {{rout.buttonText}}
      </button>
    </div>
    <div class="row flx1" *ngIf="authService.isLoggedIn">
      <span *ngIf="connectedUser | async as user">שלום, {{user.displayName}}</span>
      <button mat-button (click)="authService.SignOut()">התנתק</button>
      <button mat-button *ngIf="!authService.isAdmin()" routerLink="/admin">מצב מנהל מערכת</button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
