<div class="col buttons-container" *ngIf="!(mode$ | async); else data">
  <button class="home-button" (click)="selectMode(modes.MIFGAF)">ניהול מפגפים</button>
  <button class="home-button" (click)="selectMode(modes.EVENINGS)">ניהול ערבי צוות</button>
  <button class="home-button" (click)="selectMode(modes.LAUNCHES)">ארוחות צהריים</button>
</div>
<ng-template #data>
  <div [ngSwitch]="mode$ | async">
    <app-mifgafs *ngSwitchCase="modes.MIFGAF">
    </app-mifgafs>
    <app-evenings *ngSwitchCase="modes.EVENINGS">
    </app-evenings>
    <app-launches *ngSwitchCase="modes.LAUNCHES">
    </app-launches>
  </div>
</ng-template>
