.buttons-container {
  margin: 5em;
  padding: 2em;
}

.home-button {
  width: 40%;
  align-self: center;
  margin: 0.4em;
  background-image: linear-gradient(to right, #7fd9ec , #0600ff6b);
  border-radius: 25px;
  border: none;
  height: 2.5em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 5em;
  padding: 2em;
}
.home {
  background-color:#99d8ea;
}
.home-button {
  width: 40%;
  align-self: center;
  margin: 0.4em;
  background-image: linear-gradient(to right, #7fd9ec , #0600ff6b);
  border-radius: 25px;
  border: none;
  height: 2.5em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

ul {
  list-style-type: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px ;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.activeRoute {
  background-color: rgb(3, 22, 46);
}

.home-button:hover {
  background-color: red;
}

.home-button:hover {
  background-color: red;
}

.signout{
  float: right;
}
