<div class="login-container">
  <div class="login-box">
    <h4>מערכת לניהול גף</h4>
    <div class="login-item">
      <label>אימייל
        <input class="login-input" type="text" placeholder="gaf@gmail.com" [(ngModel)]="email" required>
      </label>
    </div>

    <div class="login-item">
      <label>סיסמה
        <input class="login-input" type="password" placeholder="סיסמה" [(ngModel)]="password" required>
      </label>
    </div>

    <div class="login-item">
      <div *ngIf="!isLoading">
        <input type="submit" class="btn btnPrimary" value="Log in"
                (click)="login()">
      </div>
      <div *ngIf="isLoading">
        טוען...
      </div>
    </div>

<!--    &lt;!&ndash; Calling GoogleAuth Api from AuthService &ndash;&gt;-->
<!--    <div class="formGroup">-->
<!--      <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">-->
<!--        <i class="fab fa-google-plus-g"></i>-->
<!--        Log in with Google-->
<!--      </button>-->
<!--    </div>-->
  </div>
</div>
