<div class="container">
    <form [formGroup]="newRestuarantForm">
        <label>שם</label>
            <input type="text"  id='name' formControlName="name">
          <label>כתובת</label>
            <input type="text" formControlName="address">
            <label>סגנון</label>
            <select formControlName="cuisine">
                <option *ngFor="let restaurantType of RestaurantTypes">{{restaurantType}}</option>
            </select>
            <label>חבר</label>
            <input type="checkbox" formControlName ="hever">
            <label>כשר</label>
            <input type="checkbox" formControlName ="kosher">
            </form>
</div>