/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 12px;
  direction: rtl;
  background-color: #F0F8FF;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.f-s {
  font-size: 10px;
}

.f-m {
  font-size: 14px;
}

.f-l {
  font-size: 18px;
}

.f-xl {
  font-size: 22px;
}

.button-style {
  background-color: #4267b2;
  color: #ffffff;
  border: 1px solid rgb(13, 22, 46) !important;
  border-radius: 5px !important;
  margin: 5px !important;
}

.button-style:checked {
  background-color: #5f9b4c;
}

.button-style:hover {
  background-color: #4b58da;
  font-weight: bold;
}

.button-style:disabled {
  background-color: rgba(0, 0, 0, .26);
}

.button-style:disabled:hover {
  cursor: default;
  font-weight: normal;
}

.c-w {
  color: white;
}

.c-gray {
  color: gray;
}

.c-d-blue {
  color: #050940;
}

.bc-sky-blue {
  background-color: #007c91;
}

.bc-white {
  background-color: white;
}

.t-al-ctr {
  text-align: center;
}

.f-w-b {
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.flx-wrap {
  flex-wrap: wrap;
}

.flx1 {
  flex: 1;
}

.flx2 {
  flex: 2;
}

.flx3 {
  flex: 3;
}

.ctr {
  justify-content: center;
  align-items: center;
}

.ctr-self {
  align-self: center;
  justify-self: center;
}

.clickable {
  cursor: pointer;
}

.vh-s {
  height: 10vh;
}

.vh-m {
  height: 50vh;
}

.vh-l {
  height: 100vh;
}

.vw-s {
  width: 10vw;
}

.vw-m {
  width: 50vw;
}

.vw-l {
  width: 100vw;
}

.spec {
  justify-content: space-around;
}

.p-s {
  padding: 5px;
}

.p-m {
  padding: 10px;
}

.p-l {
  padding: 15px;
}

.m-s {
  margin: 5px;
}

.m-m {
  margin: 10px;
}

.m-l {
  margin: 15px;
}

.mr-s {
  margin-right: 5px;
}

.mr-m {
  margin-right: 10px;
}

.ml-s {
  margin-left: 5px;
}

.ml-m {
  margin-left: 10px;
}

.float-l {
  float: left;
}
