/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  direction: rtl;
  background-color: #00acc1;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.ctr {
  justify-content: center;
  align-items: center;
}

.clickable {
  cursor: pointer;
}

.p-m {
  padding: 10px;
}

.m-m {
  margin: 10px;
}

.flx1 {
  flex: 1;
}
