.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.winners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.winners-title {
    color: #050940;
    font-size: 14pt;
}